<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Log4Net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>

  <appSettings>
    <add key="QueueName" value=".\private$\my_queue"/>
    <add key="QueueTimeout" value="5000"/>
  </appSettings>
  
  <log4net>
    <appender name="VerboseFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Facade"/>
      <datePattern value="'.'yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%t] %logger - %message%newline" />
      </layout>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="VerboseFileLog" />
    </root>
  </log4net>

  <system.web>
    <httpHandlers>
      <!-- 
        The path is equal to "audit" under Internet Information Services 7.0.  
		    It is equal to "audit*.ashx" for previous version of IIS.
      -->
      <add type="Facade.Service, Facade" verb="*" path="nome*.ashx" />
    </httpHandlers>
    <authentication mode="Windows" />
  </system.web>
  
</configuration>
